*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/20220610_142352-removebg.png);
    background-size: 600px, 500px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.container{
    padding: 10px 10%;

}
.container .hire a{
display: inline-block;
background: #ff004f;
color: #fff;
font-size: 18px;
font-weight: 500;
padding: 10px 16px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid #ff004f;
transition: all 0.5sec ease;
margin: 10px 100px;
margin-left: 95px;
text-decoration: none;
}
.container .hire a:hover{
    color: #ff004f;
    background: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background: #b54769;  */
}

.navbar.sticky{
    padding: 15px 0;
    background: #b54769; 
}

.logo{
    width: 140px;
    margin-left: 120px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 27px;
}
.header-text h1{
    font-size: 65px;
    font-weight: 600;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text p{
    margin-top: 15%;
    font-size: 27px;
    margin-left: 2px;
}
.header-text h2{
    font-size: 40px;
}
.header-text h2 span{
    color: #ff004f;
}


/* About  */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutcolumn1{
    flex-basis: 35%;

}
.aboutcolumn1 img{
    width: 100%;
    border-radius: 15px;
}

.aboutcolumn2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5sec;
}

.tab-links.active-link::after{
    width: 50%;
}
.bars{
    margin-bottom: 25px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.info span{
    font-weight: 500;
    font-size: 18px;
}
.line{
    height: 5px;
    width: 100%;
    background: gray;
    position: relative;
}
.line::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: #ff004f;
}
.html::before{
    width: 60%;
}
.css::before{
    width: 40%;
}
.javascript::before{
    width: 35%;
}
.php::before{
    width: 20%;
}
.writings::before{
    width: 80%;
}
.aboutcolumn1 a{
display: inline-block;
background: #ff004f;
color: #fff;
font-size: 18px;
font-weight: 500;
padding: 10px 16px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid #ff004f;
transition: all 0.5sec ease;
margin: 10px 100px;
text-decoration: none;
}
.aboutcolumn1 a:hover{
    color: #ff004f;
    background: none;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 22px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* services */
#services{
    padding: 30px 0;

}

.serivces-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 40px;
}
.serivces-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.serivces-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.serivces-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.serivces-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.serivces-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}



/* -----portfolio------- */
#portfolio{
    padding: 50px 0;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: o 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform:scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: inline-block;
    background: #ff004f;
    color: #fff;
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 16px;
    margin-top: 40px;
    border-radius: 6px;
    border: 2px solid #ff004f;
    transition: all 0.5sec ease;
    margin: 10px 100px;
    text-decoration: none;
    margin-left: 45%;
}
.btn:hover{
    color: #ff004f;
    background: none;
}



/* ------contact------------ */
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;

}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn2{
    display: inline-block;
background: #ff004f;
color: #fff;
font-size: 18px;
font-weight: 500;
padding: 10px 16px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid #ff004f;
transition: all 0.5sec ease;
margin: 10px 100px;
margin-left: 95px;
text-decoration: none;
margin-left: 2px;
}
.btn2:hover{
    color: #ff004f;
    background: none;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin:10px 0;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/* ---------CSS for small screen----- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url(image/mobile-5.jpg);
    }
    .header-text p{
        margin-top:100%;
        font-size: 30px;


    }
    .header-text h1{
        font-size: 40px;
    }
    .header-text h2{
        font-size: 30px;
    }
    .hire{
        font-size:30px ;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .aboutcolumn1, .aboutcolumn2{
        flex-basis: 100%;
    }
    .aboutcolumn1{
        margin-bottom: 30px;
    }
    .aboutcolumn2{
        font-size: 16px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .hire {
        font-size: 10px;
        padding: 10px 20px;
        width:max-content;
    }
    .aboutcolumn1 a{
        margin-left: 60px;
    }
    .btn{
        margin-left:70px ;
    }

}